* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    --mainDarkBlue: #050C9C;
    --mainMainBlue: #3572EF;
    --mainLightBlue: #3ABEF9;
    --mainHighlightBlue: #A7E6FF;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: auto;
    background-color: aliceblue;
}

.navbar-body {
    width: 100vw;
    height: 7vh;
    background-color: var(--mainMainBlue);
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: stretch;
}

.navbar-item {
    width: min-content;
    padding-left: 2vh;
    padding-right: 2vh;
    height: 100%;
    background-color: var(--mainLightBlue);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: ease-in-out 100ms;
}

.navbar-item:hover {
    background-color: var(--mainHighlightBlue);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2vw;
    text-decoration: underline;
    z-index: 10;
}

.icon {
    height: 6vh;
    right: 0.5vh;
    margin-top: 0.5vh;
    position: fixed;
    transition: ease-in-out 100ms;
}

.icon:hover {
    height: 7vh;
    right: 0vh;
    margin-top: 0vh;
}

.spacer {
    width: 100vw;
    height: 7vh;
}

.text-container {
    width: 60vw;
    margin-left: 20vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.heading {
    font-size: 6rem;
    margin-bottom: 1vh;
}

.text {
    font-size: 1.4rem;
    text-align:center;
    margin-bottom: 2.5vh;
}

.bold{
    margin-bottom: 0;
    font-weight: bold;
}

@media only screen and (max-width: 799px) {
    .text-container {
        width: 90vw;
        margin-left: 5vw;
    }

    .navbar-item {
        font-size: 1.25rem;
        border-radius: 4vw;
        margin-right: 1vw;
        padding-left: 1vh;
        padding-right: 1vh;
    }

    .heading {
        font-size: 4rem;
    }

    .text {
        font-size: 1.1rem;
    }
}